body {
    font-family: monospace;
    text-align: center;
    background-color: burlywood;
}
p.Myname{
    font-size: xx-large;
    font-style: italic;
    color: black;
    background-color: black;
}
p.Special{
    color: navy;
}
p.Account{
    color: mediumblue;
}